.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

.column {
  margin: 10px;
  height: 95vh;
  width: 18rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.column-card {
  cursor: pointer;
}
